body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: helvetica, sans-serif;
  font-size: 1em;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 0.5em;
  width: 12em;
  font-size: max(1em, 16px);
}

p {
  background: #ffc125;
  color: #5e2612;
  padding: 10px;
  visibility: hidden;
  border-radius: 1em;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.3em;
  padding: 0.5em;
  margin-top: 0.5em;
}

.subheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 0.5em;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.randomize {
  -webkit-appearance: none;
  width: 14em;
  height: 2.3em;
  border-radius: 0.5em;
}
